# ============================================
# SUPABASE - Récupère ces valeurs sur supabase.com
# ============================================
NEXT_PUBLIC_SUPABASE_URL=https://sxvieerjnoejgsrivdve.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4dmllZXJqbm9lamdzcml2ZHZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzODI4ODQsImV4cCI6MjA4ODk1ODg4NH0.QAU_zw2jXixJFyPmHOyec6ubxjRorDygxo4rtzsM_G4

# ============================================
# CONFIGURATION DU CONCOURS - À MODIFIER CHAQUE ANNÉE
# ============================================

# Email admin (peut se connecter au panneau admin)
NEXT_PUBLIC_ADMIN_EMAIL=diorrebero90@icloud.com

# Nom de l'édition du concours
NEXT_PUBLIC_EDITION=2026

# Date de fin des votes (format ISO 8601)
NEXT_PUBLIC_VOTE_END_DATE=2026-03-20T13:59:59

# Date de début des votes
NEXT_PUBLIC_VOTE_START_DATE=2026-15-03T00:00:00
