# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Environment - NE JAMAIS COMMIT CES FICHIERS
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*

# Misc
.DS_Store
*.pem
/coverage
/.nyc_output

# Vercel
.vercel
